<div>
        <h2 class="text-center">Add Contact</h2>
        <form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <label for="ImageUrl">Image Url:</label>
                        <input type="text" class="form-control"  formControlName="ImageUrl">
                </div>
                <div class="form-group">
                        <label for="Name">Name :</label>
                        <input type="text" placeholder="Atleast one character"  class="form-control"   formControlName="Name" >
                </div>
                <div class="form-group">
                        <label for="Number">Number :</label>
                        <input #number UniqueNumber type="text" maxlength="10" minlength="10"   id="numbersOnly" placeholder="10 digit number" class="form-control"   formControlName="Number"    >
                        <small [hidden]="!bMobileAlreadyPresent" class="text-danger">
                                Mobile number already present
                        </small> 
                </div>
                
                <div class="form-group">
                        <label for="email">Email :</label>
                        <input type="email"  class="form-control"   formControlName="Email">
                </div>
                <div class="checkbox">
                        <label><input type="checkbox"   formControlName="bFavourite" >Favourite</label>
                </div>

                <button class="btn btn-success" [disabled]="!myForm.valid">Submit</button>
                <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </form>
</div>


<!-- <div>
        <h2 class="text-center">Add Contact</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                        <label for="ImageUrl">Image Url:</label>
                        <input type="text" class="form-control"  ngModel name="ImageUrl">
                </div>
                <div class="form-group">
                        <label for="Name">Name :</label>
                        <input type="text" placeholder="Atleast one character"  class="form-control"  ngModel name="Name" required minlength="1" >
                </div>
                <div class="form-group">
                        <label for="Number">Number :</label>
                        <input type="text" #number="ngModel" (keyup)="checkUnique(number.value, f)" id="numbersOnly" placeholder="10 digit number" class="form-control" ngModel  name="Number"  required minlength="10" maxlength="10" > 
                </div>
                
                <div class="form-group">
                        <label for="email">Email :</label>
                        <input type="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" class="form-control" ngModel ngModel name="Email">
                </div>
                <div class="checkbox">
                        <label><input type="checkbox"  ngModel name="bFavourite" >Favourite</label>
                </div>

                <button class="btn btn-success" [disabled]="!f.valid">Submit</button>
                <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </form>
</div> -->


<!-- <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
        Username is required (minimum 5 characters).
      </small> -->